parameters:
    level: max
    paths:
        - bin
        - src
#        - tests
    symfony:
        container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'
        console_application_loader: config/cli_bootstrap.php
    ignoreErrors:
        - '#Parameter \#[0-9]+ \$[a-zA-Z0-9]+ of method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) expects string, array<string>\|bool\|string\|null given#'
        - '#Cannot cast array<string>\|bool\|string\|null to int\.#'
